.button {
    border-radius: 6px;
    padding: 8px 30px;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
    transition: background 0.25s;
    border: none;
    color: #ffffff;
  }
  .accent:hover {
    background: #201f66;
  }

  .accent{
    background: #312EB5;
  }
 